<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>SECURDE-MP</display-name>
	
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    	<welcome-file>index.htm</welcome-file>
    	<welcome-file>index.jsp</welcome-file>
    	<welcome-file>default.html</welcome-file>
    	<welcome-file>default.htm</welcome-file>
    	<welcome-file>default.jsp</welcome-file>
  	</welcome-file-list>
  
  	<session-config>
    	<session-timeout>20</session-timeout>
    	<tracking-mode>COOKIE</tracking-mode>
  	</session-config>
  
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>SOLE-search</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<filter>
   <filter-name>AuthenticationFilter</filter-name>
   <filter-class>AuthenticationFilter</filter-class>
</filter>
<filter-mapping>
   <filter-name>AuthenticationFilter</filter-name>
   <url-pattern>/account.jsp</url-pattern>
   <url-pattern>/accounting manager index.jsp</url-pattern>
   <url-pattern>/addproduct.jsp</url-pattern>
   <url-pattern>/admin index.jsp</url-pattern>
   <url-pattern>/changepassword.jsp</url-pattern>
   <url-pattern>/checkout.jsp</url-pattern>
   <url-pattern>/editproduct.jsp</url-pattern>
   <url-pattern>/index.jsp</url-pattern>
   <url-pattern>/payment.jsp</url-pattern>
   <url-pattern>/product manager index.jsp</url-pattern>
   <url-pattern>/productspage.jsp</url-pattern>
   <url-pattern>/register.jsp</url-pattern>
   <url-pattern>/registermanager.jsp</url-pattern>
   <url-pattern>/single.jsp</url-pattern>
   <url-pattern>/account.jsp</url-pattern>
   <url-pattern>/AddProductServlet</url-pattern>
   <url-pattern>/AddReviewServlet</url-pattern>
   <url-pattern>/CartServlet</url-pattern>
   <url-pattern>/AddCartServlet</url-pattern>
   <url-pattern>/EmptyCartServlet</url-pattern>
   <url-pattern>/ViewCartServlet</url-pattern>
   <url-pattern>/ChangePasswordServlet</url-pattern>
   <url-pattern>/CheckoutServlet</url-pattern>
   <url-pattern>/DeleteProductServlet</url-pattern>
   <url-pattern>/HomeServlet</url-pattern>
   <url-pattern>/LogInServlet</url-pattern>
   <url-pattern>/LogInServlet</url-pattern>
   <url-pattern>/PaymentServlet</url-pattern>
   <url-pattern>/SignUpServlet</url-pattern>
   <url-pattern>/UpdateProductServlet</url-pattern>
   <url-pattern>/ViewProductsServlet</url-pattern>
   <url-pattern>/ViewBootsServlet</url-pattern>
   <url-pattern>/ViewShoesServlet</url-pattern>
   <url-pattern>/ViewSandalsServlet</url-pattern>
   <url-pattern>/ViewSlippersServlet</url-pattern>
   <url-pattern>/SearchServlet</url-pattern>
   <url-pattern>/ViewSingleProductServlet</url-pattern>
</filter-mapping>
</web-app>